*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: cocogoose;
  src: url('../fonts/cocogoose-pro-regular.ttf');
}

body {
  background-color: #ddd;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  cursor: pointer;
}

#header,
#footer {
  background-color: darkgray;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
}

#main {
  max-width: 94%;
  min-height: calc(100vh - 64px);
  margin: 12px auto;
  text-align: center;
}

.main-section-title {
  color: darkslategray;
  font-family: cocogoose, sans-serif;
}

.todo-list {
  list-style: none;
  text-align: center;
  padding: 0;
  background-color: #d3d3d3;
  margin: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.todo-heading {
  display: flex;
  justify-content: space-between;
}

.todo-heading h2 {
  color: darkgray;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.todo-heading .btn-refresh {
  border: none;
  background-color: #fff;
  text-align: right;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.todo-heading i {
  color: darkgray;
  font-size: 22px;
  font-weight: 500;
}

.btn i:hover {
  color: black;
}

.btn i:active {
  color: blueviolet;
}

#form-add-task {
  display: flex;
  width: 100%;
  text-align: justify;
  background-color: #fff;
  border-bottom: 1px solid gray;
}

#form-add-task input {
  width: calc(100% - 43px);
  margin: 0;
  font-size: 17px;
  line-height: 32px;
  padding: 3px 10px;
  font-style: italic;
  border: none;
  outline: none;
}

#form-add-task .btn-add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  border: none;
  margin: 0;
  font-weight: 700;
  vertical-align: text-top;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
}

.todo-list li {
  display: flex;
  border-bottom: 1px solid #bbb;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: text;
}

input[name="isCompleted"] {
  cursor: pointer;
}

.item-description {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.todo-list li .task-description {
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.todo-list .fa-ellipsis-v {
  color: grey;
  font-size: 16px;
  padding: 5px;
  cursor: move;
  z-index: 10;
}

.todo-list .btn-v-ellipsis {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.todo-list .btn-trash {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 110;
}

.todo-list .fa-trash {
  color: red;
  font-size: 16px;
  padding: 5px;
}

.todo-list .fa-ellipsis-v:hover {
  color: black;
}

.todo-list .over {
  background-color: #cababa;
}

.todo-list li > * {
  margin-right: 10px;
}

.btn-clear-completed {
  border: none;
  padding: 6px;
  margin: 10px;
  font-size: 16px;
  background-color: transparent;
  font-weight: 700;
  color: darkslategray;
}

.d-off {
  display: none;
}

@media screen and (min-width: 768px) {
  #main {
    max-width: 40%;
    min-height: calc(100vh - 88px);
    margin: 24px auto;
  }
}
